.home {
    background-color: #f5f6fa;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.home .div {
    background-color: #f5f6fa;
    height: 3057px;
    overflow-x: hidden;
    position: relative;
    width: 1440px;
}

.home .overlap {
    height: 651px;
    left: -1px;
    position: absolute;
    top: -1px;
    width: 1442px;
}

.home .navigation-top-bar {
    background-color: #ffffff;
    height: 146px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1442px;
}

.home .text-wrapper {
    color: #1e1e1e;
    font-family: "Hind-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 50px;
    letter-spacing: -0.46px;
    line-height: 32px;
    position: absolute;
    top: 19px;
    width: 147px;
}

.home .banner {
    height: 580px;
    left: 1px;
    object-fit: cover;
    position: absolute;
    top: 71px;
    width: 1440px;
}

.home .image {
    height: 38px;
    left: 1239px;
    object-fit: cover;
    position: absolute;
    top: 17px;
    width: 150px;
}

.home .navigation-top-bar-2 {
    background-color: #ffffff;
    height: 82px;
    left: 0;
    position: absolute;
    top: 69px;
    width: 1442px;
}

.home .navbar {
    align-items: flex-start;
    display: inline-flex;
    gap: 40px;
    left: 50px;
    position: absolute;
    top: 19px;
}

.home .text-wrapper-2 {
    color: #1e1e1e;
    font-family: "Inter-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.3px;
    line-height: 32px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.home .text-wrapper-3 {
    color: #1e1e1e;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.3px;
    line-height: 32px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.home .frame {
    align-items: center;
    background-color: #ff0031;
    border-radius: 6px;
    display: inline-flex;
    gap: 8px;
    justify-content: center;
    left: 1195px;
    overflow: hidden;
    padding: 12px 19px;
    position: absolute;
    top: 19px;
}

.home .products {
    color: #ffffff;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.3px;
    line-height: normal;
    position: relative;
    width: fit-content;
}

.home .overlap-group {
    height: 500px;
    left: 51px;
    position: absolute;
    top: 823px;
    width: 426px;
}

.home .element {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 500px;
    left: 0;
    padding: 8px;
    position: absolute;
    top: 0;
    width: 426px;
}

.home .title {
    align-self: stretch;
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.46px;
    line-height: 34px;
    margin-top: -1px;
    position: relative;
}

.home .image-2 {
    background-image: url(./image.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 8px;
    height: 224px;
    position: relative;
    width: 400px;
}

.home .body {
    align-self: stretch;
    color: #000000;
    flex: 1;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.3px;
    line-height: 24px;
    position: relative;
}

.home .image-3 {
    background-image: url(./image.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 8px;
    height: 224px;
    position: relative;
    width: 400px;
}

.home .overlap-2 {
    height: 500px;
    left: 507px;
    position: absolute;
    top: 823px;
    width: 426px;
}

.home .image-4 {
    background-image: url(./image.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 8px;
    height: 224px;
    position: relative;
    width: 400px;
}

.home .image-5 {
    background-image: url(./image.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 8px;
    height: 224px;
    position: relative;
    width: 400px;
}

.home .overlap-3 {
    height: 500px;
    left: 963px;
    position: absolute;
    top: 823px;
    width: 426px;
}

.home .image-6 {
    background-image: url(./image.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 8px;
    height: 224px;
    position: relative;
    width: 400px;
}

.home .image-7 {
    background-image: url(./image.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 8px;
    height: 224px;
    position: relative;
    width: 400px;
}

.home .overlap-4 {
    height: 60px;
    left: 45px;
    position: absolute;
    top: 715px;
    width: 1120px;
}

.home .p {
    color: #1e1e1e;
    font-family: "Inter-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 0;
    letter-spacing: -0.88px;
    line-height: 60px;
    position: absolute;
    top: 0;
    width: 1120px;
}

.home .overlap-group-2 {
    border-radius: 6px;
    height: 44px;
    left: 597px;
    position: absolute;
    top: 1348px;
    width: 247px;
}

.home .frame-2 {
    align-items: center;
    background-color: #000000;
    border-radius: 6px;
    display: inline-flex;
    gap: 8px;
    justify-content: center;
    left: 0;
    overflow: hidden;
    padding: 12px 19px;
    position: absolute;
    top: 0;
}

.home .more {
    height: 18px;
    position: relative;
    width: 18px;
}

.home .element-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 500px;
    left: 51px;
    padding: 8px;
    position: absolute;
    top: 1555px;
    width: 426px;
}

.home .image-8 {
    background-image: url(./image.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 8px;
    height: 224px;
    position: relative;
    width: 400px;
}

.home .overlap-5 {
    height: 608px;
    left: 45px;
    position: absolute;
    top: 2247px;
    width: 1344px;
}

.home .element-3 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 500px;
    left: 6px;
    padding: 8px;
    position: absolute;
    top: 108px;
    width: 426px;
}

.home .image-9 {
    background-image: url(./image.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 8px;
    height: 224px;
    position: relative;
    width: 400px;
}

.home .element-4 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 500px;
    left: 462px;
    padding: 8px;
    position: absolute;
    top: 108px;
    width: 426px;
}

.home .image-10 {
    background-image: url(./image.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 8px;
    height: 224px;
    position: relative;
    width: 400px;
}

.home .element-5 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 500px;
    left: 918px;
    padding: 8px;
    position: absolute;
    top: 108px;
    width: 426px;
}

.home .image-11 {
    background-image: url(./image.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 8px;
    height: 224px;
    position: relative;
    width: 400px;
}

.home .element-6 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 500px;
    left: 507px;
    padding: 8px;
    position: absolute;
    top: 1555px;
    width: 426px;
}

.home .image-12 {
    background-image: url(./image.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 8px;
    height: 224px;
    position: relative;
    width: 400px;
}

.home .element-7 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 500px;
    left: 963px;
    padding: 8px;
    position: absolute;
    top: 1555px;
    width: 426px;
}

.home .image-13 {
    background-image: url(./image.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 8px;
    height: 224px;
    position: relative;
    width: 400px;
}

.home .text-wrapper-4 {
    color: #1e1e1e;
    font-family: "Inter-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 45px;
    letter-spacing: -0.88px;
    line-height: 60px;
    position: absolute;
    top: 1447px;
    width: 1120px;
}

.home .frame-3 {
    align-items: center;
    background-color: #000000;
    border-radius: 6px;
    display: inline-flex;
    gap: 8px;
    justify-content: center;
    left: 574px;
    overflow: hidden;
    padding: 12px 19px;
    position: absolute;
    top: 2080px;
}

.home .frame-4 {
    align-items: center;
    background-color: #000000;
    border-radius: 6px;
    display: inline-flex;
    gap: 8px;
    justify-content: center;
    left: 592px;
    overflow: hidden;
    padding: 12px 19px;
    position: absolute;
    top: 2880px;
}

.home .go-to-home {
    height: 24px !important;
    left: 1347px !important;
    position: absolute !important;
    top: 1349px !important;
    width: 24px !important;
}

.home .go-to-home-instance {
    height: 24px !important;
    left: 1347px !important;
    position: absolute !important;
    top: 2087px !important;
    width: 24px !important;
}

.home .icon-instance-node {
    height: 24px !important;
    left: 1347px !important;
    position: absolute !important;
    top: 2887px !important;
    width: 24px !important;
}

.banner {
    background-image: url(./banner.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 580px;
    position: relative;
    width: 1440px;
}

.banner .your-gateway-to-the {
    color: #000000;
    font-family: "Inter-Thin", Helvetica;
    font-size: 48px;
    font-weight: 400;
    left: 50px;
    letter-spacing: -0.91px;
    line-height: normal;
    position: absolute;
    top: 333px;
    width: 595px;
}

.banner .text-wrapper {
    font-weight: 100;
}

.banner .span {
    font-family: "Inter-Regular", Helvetica;
}

.banner .text-wrapper-2 {
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
}
.banner {
    background-image: url(./banner.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 580px;
    position: relative;
    width: 1440px;
}

.banner .your-gateway-to-the {
    color: #000000;
    font-family: "Inter-Thin", Helvetica;
    font-size: 48px;
    font-weight: 400;
    left: 50px;
    letter-spacing: -0.91px;
    line-height: normal;
    position: absolute;
    top: 333px;
    width: 595px;
}

.banner .text-wrapper {
    font-weight: 100;
}

.banner .span {
    font-family: "Inter-Regular", Helvetica;
}

.banner .text-wrapper-2 {
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
}